.service {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../assets/images/service.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    background-attachment: fixed;
 
}

.service h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0%;
    font-size: 50px;
}

.service h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0%;
    font-size: 35px;
    line-height: 23px;
}

.service button {
    background-color: rgb(255 94 24);
    border-radius: 0%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 14px 17px;
}

.service button:hover{
    color: rgb(255 94 24);
    background-color: white;
}
